@*

Joseph Vore | Section 4 | IS 413

Convert the Web App you created in Assignment #1 to an MVC structure following the pattern in this week's videos.  Separate your Grade Calculator program into a second view and add navigation to access that page.  Create a model for your Grade Calculation form.

Be sure to include:

The basic jQuery selector ($) to select the elements in your JavaScript program.
Appropriate folders for each element of MVC.
A Controller to access the corresponding Views.
Razor code to set the text in the header.
A shared layout across all pages.
Tag helpers for navigation.
Validation in the model to ensure the user enters a number between 0 and 100 (#notcoveredinthevideos).*@


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="img/ganderson.jpeg">
</head>
<body id="page-top">
    <div id="page-container">
        <div id="content-wrap">
            <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top mb-5" id="mainNav">
                <div class="container">
                    <a class="navbar-brand js-scroll-trigger" href="/index.html">Home</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" asp-controller="home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" asp-controller="home" asp-action="GradeCalculator">Grade Calculator</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            @RenderBody()

        </div>
    </div>
    <footer class="py-5 niceGradient">
        <div class="container">
            <p class="m-0 text-center text-white">Joseph Vore | BYU | Information Systems</p>
        </div>
        <!-- /.container -->
    </footer>

    <!--Javascript Source-->
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>
