@*

*@
@{
    ViewBag.Title = "Joseph Vore's Website | Home";
}


<body>

    <div class="container">

        <!--Image of me traveling with my wife-->
        <img src="img/joe_and_kate.jpg" class="frontPageImage m-5 pt-5" alt="My wife and I traveling in Mexico" />

        <!--Preffered name and paragraph about what I hope to get from this class-->
        <h1 class="m-3">Joseph Vore</h1>
        <p class="m-3">My biggest hope for this class is that I feel like I can confidently create a web application using .net and C#.<br /> I want to understand why this web framework is set up the way it is. I also want to understand more about MVC structures.<br /> The final thing I want to get out of this class is to understand the pros and cons of using a strongly-typed language.<br /> I am excited to be in this class and hopefully learn C# and ASP.net! </p>
        <br />

        <!--Top Three Jobs-->
        <h2 class="m-3">Top Three Jobs I Will Pursue</h2>
        <ol class="quizList m-3">
            <li class="p-2">Cyber Risk Analyst</li>
            <li class="p-2">Creating my own Saas company</li>
            <li class="p-2">Product Manager</li>
        </ol>

    </div>

</body>
